@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-image: url(./assets/imagem\ de\ fundo\ _\ autor\ pikisuperstar\ imagem\ grande.jpg);
    background-size: cover;
}

main {
    font-family: 'Indie Flower';
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.header__title {
    font-size: 3.5rem;
    color: var(--title);
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.section__div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
